* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
  min-height: 50px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.sa {
  justify-content: space-around;
}

.cc {
  justify-content: center;
}

.stretch {
  align-items: stretch;
}

.sb {
  justify-content: space-between;
}

.container {
  margin: 20px auto;
  width: 80%;
  max-width: 1200px;
  min-width: 700px;

}

/* Header */
.nav-menu {
  list-style: none;
}

/* Main */

.introduction {
  margin: 20px auto;
  width: 700px;
  height: 300px;
}

.container .image {
  width: 750px;
  height: 320px;
}

.container .text {
  width: 500px;
  height: 320px;
}

.even{
  background-color: gray;
}
.even .image{
  order: 1;
}

/* Footer */

.container div:nth-child(1){
  flex-grow: 4;
}
.container div:nth-of-type(1n + 2){
  flex-grow: 2;
}