* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
  min-height: 20px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.sa {
  justify-content: space-around;
}

.cc {
  justify-content: center;
}

/* .stretch {
  align-items: stre;
} */

.sb {
  justify-content: space-between;
}

.container {
  margin: auto;
  width: 70%;
  max-width: 1200px;
  min-width: 700px;
  padding: 20px;

}

/* Header */
header{
  background-color: #ADD8E6
}

.nav-menu li{
  list-style: none;
  flex-grow: 3;
}

.nav-menu a{
  text-decoration: none;
  margin: 10px 10px;
  padding: 10px 15px;
}

/* Main */

.introduction {
  margin: 20px auto;
  width: 700px;
  height: 200px;
}

.container .image {
  width: 750px;
  height: 320px;
}

.container .text {
  width: 500px;
  height: 320px;
}


main section:nth-of-type(1){
  background-color: #00008B;
}
main section:nth-of-type(2n + 3){
  background-color: #D3D3D3;
}



/* Footer */

footer {
  background-color: #23272A;
}



.container div:nth-child(1){
  flex-grow: 3;
}
.container div:nth-of-type(1n + 2){
  flex-grow: 1;
}

.upper-footer {
  padding-top: 2px;
  border-bottom: 1px solid white;
}